body {
  margin: 0;
  font-family: 'Manrope', sans-serif,'Nunito', sans-serif,'Poppins', sans-serif,'PT Serif', serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
